<!DOCTYPE html>
<html lang="en">
<head>
                             <meta charset="UTF-8">
                             <meta name="viewport" content="width=device-width, initial-scale=1.0">
                             <title>d/t</title>
                             <link rel="stylesheet" href="style.css">
</head>
<body>
           <h1>Lorem, ipsum.</h1>   
           <h2>Lorem, ipsum.</h2>
           <h3>Lorem, ipsum dolor.</h3>
           <h4>Lorem, ipsum dolor.</h4>
           <h5>Lorem, ipsum dolor.</h5>
           <h6>Lorem, ipsum dolor.</h6>           
           <hr>           
           <!-- <img class="o" src="https://i.ibb.co/XCmsJXk/photo-2023-11-04-11-22-12.jpg" alt="/" width="640px" height="600px" > -->
           <img src="https://img.theweek.in/content/dam/week/news/sci-tech/images/2019/1/18/portrait-modern-human-homo-Erectus-man-side-by-side-facial-shape-evolution-modern-human-face-shut.jpg" alt="" width="690px" height="600px"><br>
           <u>Lorem ipsum dolor sit.</u><br> 
           <i>Lorem ipsum dolor sit.</i> <br>
           <b>Lorem ipsum dolor sit.</b><br> 
           <strong>Lorem ipsum dolor sit.</strong><br> 
           <em>Lorem ipsum dolor sit.</em><br> 
           <del>Lorem ipsum dolor sit.</del><br> 
           <b>Lorem ipsum dolor sit.</b><br> 
           x<sub>2</sub><br> 
           y<sub>2</sub><br>
           <p>Lorem ipsum dolor sit.</p>
           <input type="text"><br>
           <textarea ></textarea><br>
           <button>aka</button><br>
           <select >
                             <option value="">uz</option>
                             <option value="">ru</option>
           </select>
           <a href="mailto:rakhimov_atamjon@mail.ru">gmal</a>
           <em>d</em><br>
           
           
</body>
</html>